* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;
}

a {
    text-decoration: none;
    color: rgb(73, 73, 73);
}

div#App {
    padding: 6vh 6vw 6vh 8vw;
}